#contactPage {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contactStack{
    margin-left: 60%;
    margin-top: 50%;
  }
  .contactStack{
    margin-left: 50%;
    margin-top: 20%;
  }